## Challenge 1: Creating a Data Visualization on Global Deforestation Patterns

### **Import Libraries**

In [ ]:
import pandas as pd
import numpy as np

import seaborn as sns
import geopandas

### **I. Loading and Exploring the Data**

In [ ]:
temp_data = pd.read_csv("temperature_change_data_11-29-2021.csv")
temp_data.head()

,Domain Code,Domain,Area Code (ISO3),Area,Element Code,Element,Months Code,Months,Year Code,Year,Unit,Value,Flag,Flag Description
0,ET,Temperature change,AFG,Afghanistan,7271,Temperature change,7016,Dec–Jan–Feb,1961,1961,°C,-0.751,Fc,Calculated data
1,ET,Temperature change,AFG,Afghanistan,7271,Temperature change,7016,Dec–Jan–Feb,1962,1962,°C,0.985,Fc,Calculated data
2,ET,Temperature change,AFG,Afghanistan,7271,Temperature change,7016,Dec–Jan–Feb,1963,1963,°C,1.931,Fc,Calculated data
3,ET,Temperature change,AFG,Afghanistan,7271,Temperature change,7016,Dec–Jan–Feb,1964,1964,°C,-2.056,Fc,Calculated data
4,ET,Temperature change,AFG,Afghanistan,7271,Temperature change,7016,Dec–Jan–Feb,1965,1965,°C,-0.669,Fc,Calculated data

In [ ]:
temp_data.columns

Index(['Domain Code', 'Domain', 'Area Code (ISO3)', 'Area', 'Element Code',
       'Element', 'Months Code', 'Months', 'Year Code', 'Year', 'Unit',
       'Value', 'Flag', 'Flag Description'],
      dtype='object')

### **II. Filtering the Data**

In [ ]:
# Choosing only countries that have data for each meteorological year

countries_to_analyze = set()

for country in temp_data['Area'].unique():
    if len(temp_data.loc[(temp_data['Area'] == country) & (temp_data['Months'] == 'Meteorological year')]['Year'].unique()) == temp_data['Year'].max() - temp_data['Year'].min() + 1:
        countries_to_analyze.add(country)

print(countries_to_analyze)

{'Central African Republic', 'Mozambique', 'Bhutan', 'Vanuatu', 'Wake Island', 'Denmark', 'Niger', 'Guadeloupe', 'Montserrat', 'Equatorial Guinea', 'Algeria', 'Midway Island', 'Tonga', 'France', 'Cayman Islands', 'Dominican Republic', 'Cocos (Keeling) Islands', 'Falkland Islands (Malvinas)', 'United Kingdom of Great Britain and Northern Ireland', 'United States of America', 'Italy', 'Iran (Islamic Republic of)', 'Bahrain', 'Sri Lanka', 'Nigeria', 'Australia', 'Namibia', 'Peru', 'Kiribati', 'Cameroon', 'Nepal', 'Thailand', 'Benin', 'Lesotho', 'Sierra Leone', 'China, Taiwan Province of', 'Nauru', "Lao People's Democratic Republic", 'Jamaica', 'Pitcairn', 'Réunion', 'Somalia', 'Sweden', 'Yemen', 'Anguilla', 'Oman', 'Burkina Faso', 'Dominica', 'Egypt', 'Antarctica', 'Liechtenstein', 'Paraguay', 'Svalbard and Jan Mayen Islands', 'French Guyana', 'Myanmar', 'Qatar', 'China, Macao SAR', 'United Arab Emirates', 'Cook Islands', 'Niue', 'Chad', 'El Salvador', 'Portugal', 'Cabo Verde', 'Singapore', 'Spain', 'Kuwait', 'Senegal', 'Tokelau', 'French Southern Territories', 'South Africa', 'Malaysia', 'Honduras', 'Norway', 'Saint Vincent and the Grenadines', 'Christmas Island', 'Israel', 'Belize', 'Brunei Darussalam', 'Libya', 'Ghana', 'Switzerland', 'Papua New Guinea', 'Maldives', 'Greenland', 'Argentina', 'Bolivia (Plurinational State of)', 'Uruguay', 'Grenada', 'India', 'Guinea-Bissau', 'Angola', 'Malawi', 'Canada', 'Colombia', 'Uganda', 'Saint Lucia', 'Iraq', 'Lebanon', 'Suriname', 'Turkey', 'Austria', 'Puerto Rico', 'Costa Rica', 'Comoros', 'Indonesia', 'Djibouti', 'Brazil', 'United Republic of Tanzania', 'New Caledonia', 'Samoa', 'Bahamas', 'Eswatini', 'Isle of Man', 'Morocco', 'Romania', 'Togo', 'Gambia', 'Mali', 'Viet Nam', 'Nicaragua', 'Burundi', 'Philippines', 'Zimbabwe', 'Rwanda', 'Jordan', 'Norfolk Island', 'Cyprus', 'Iceland', 'China', 'Hungary', 'Guyana', 'Sao Tome and Principe', 'Afghanistan', 'Japan', 'Aruba', 'Tunisia', 'Ireland', 'Ecuador', 'Andorra', 'Gabon', 'Martinique', "Côte d'Ivoire", 'Cuba', 'Wallis and Futuna Islands', "Democratic People's Republic of Korea", 'Saint Pierre and Miquelon', 'Netherlands Antilles (former)', 'Cambodia', 'Guinea', 'Fiji', 'Bangladesh', 'Holy See', 'Democratic Republic of the Congo', 'Channel Islands', 'China, mainland', 'Greece', 'Mexico', 'Panama', 'Republic of Korea', 'Guatemala', 'Palestine', 'Congo', 'Botswana', 'Bulgaria', 'French Polynesia', 'San Marino', 'Antigua and Barbuda', 'Chile', 'Faroe Islands', 'South Georgia and the South Sandwich Islands', 'Haiti', 'Turks and Caicos Islands', 'Barbados', 'New Zealand', 'Malta', 'Liberia', 'Mauritius', 'Seychelles', 'Venezuela (Bolivarian Republic of)', 'British Virgin Islands', 'Poland', 'Madagascar', 'Finland', 'Albania', 'Gibraltar', 'Saint Kitts and Nevis', 'Mongolia', 'American Samoa', 'Mayotte', 'United States Virgin Islands', 'Timor-Leste', 'Trinidad and Tobago', 'Saint Helena, Ascension and Tristan da Cunha', 'Western Sahara', 'Pakistan', 'Tuvalu', 'China, Hong Kong SAR', 'Syrian Arab Republic', 'Monaco', 'Kenya', 'Zambia', 'Saudi Arabia', 'Germany', 'Mauritania', 'Netherlands', 'Solomon Islands'}